.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.bg{
    background-color: #dae3f9;
}
header{
    background-image: url('../images/B12A01-landing-launchpad/Assets/Hero-bg.png');
    
    padding: 0px 0px 200px 0px;
    margin: 0px 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    align-items: center;
}
nav h2{
    font-weight: bold;
    font-size: 30px;
    color: #2b24fc;
}
.btn{
     border: none;
    border-radius: 10px;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    cursor: pointer;
    height: 50px;
    
    }
    .btn:hover{
        background-color: #534ef0;
    }
    .banner{
        align-items: center;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    .actin{
        display: flex;
        justify-content: space-evenly;
    }
    main{
        max-width: 1140px;
        margin: 70px auto;
    }
    .action-img{
    
        
        border-color: white;
        border-radius: 48%;
        margin: 10px;
        
    }
    .text{
        font-size: 35px;
        font-weight: bold;
    }
    .pera{
        color: #6662a8;
        font-size: 18px;
    }
   .action{
    align-items: center;
    
   }
   .title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 5px;
   }
   .joined-conteiner{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    text-align: right;
      
     }
     .peoples{
        
    border-radius: 24px;
    background-color: #cdcbfe;
    padding: 20px;
    margin: 90px auto;
    margin-left: auto;
    text-align: right;
    justify-content: flex-end;
    align-content: end;
     }
   .center{
    text-align: center;
    align-items: center;
    
   }
   .inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.star{
    display: flex;
}
.women{
    display: flex;
    gap: 5px;
    
}
.dated{
    text-align: left;
}
.review-conteiner{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding: 24px;
}
.desighn:hover{
    background-color: #adabcb;
}
.desighn{
        padding: 24px;
      /* box-shadow: 0px 6px 6px 0px; */
      border: solid;
      border-color: #e2e8f8;
      border-radius: 5px;
      box-shadow: 1px 3px 3px 3px;

}
.optional-cont{
    border-radius: 20px;
    background-color: #bfcef5;
    padding: 20px;
    margin: 90px auto;

}
.optional-img{
    border-color: white;
        border-radius: 48px;
        margin: 10px 150px;
}
.form-text{
    font-size: 18px;
    font-weight: bold;
}
.last2{
    display: flex;
    justify-content: space-evenly;
}
.high{
    font-weight: bold;
    font-size: 80px;
    
}
footer input[type="text"]{
      height: 50px;
    border-radius: 5px;
    background-color: white;
    margin: 10px auto;
    
}
.form{
    margin: 90px;
    border: none
}
.last{
    font-size: 100px;
    color: #4E47FF;
}
.logo h1{
    margin-bottom: 0;
    padding-bottom: 0;
}
.women h5{
     margin-bottom: 0;
    padding-bottom: 0;
}
ul{
    display: flex;
    list-style: none;
    
    text-align: center;
    align-items: center;
    margin: 0 550px;
    gap: 30px;
    
}
.logo{
    background-color: white;
    padding: 20px 0px 50px 0px;
}