.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.bg{
    background-color: #F5F8FF;
}
header{
    background-image: url('../images/B12A01-landing-launchpad/Assets/Hero-bg.png');
    padding: 0px 0px 200px 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    align-items: center;
}
nav h2{
    font-weight: bold;
    font-size: 30px;
}
.btn{
     border: none;
    border-radius: 10px;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    cursor: pointer;
    height: 50px;
    
    }
    .btn:hover{
        background-color: #534ef0;
    }
    .banner{
        align-items: center;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    .actin{
        display: flex;
        justify-content: space-evenly;
    }
    main{
        max-width: 1280px;
        margin: 70px auto;
    }
    .action-img{
    
        
        border-color: white;
        border-radius: 48%;
        margin: 10px;
        
    }
    .text{
        font-size: 35px;
        font-weight: bold;
    }
    .pera{
        color: #6662a8;
        font-size: 18px;
    }
   .action{
    align-items: center;
    
   }